/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background-color: tomato;
}