<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
    <div id="nav">
        <p></p>
        <div (click)="view()">view</div>
        <p></p>
        <div (click)="create()">create</div>
        <p></p>
        <div (click)="update()">update</div>
        <p></p>
        <div (click)="logout()">logout</div>
    </div>
    <br><br>
    <span>{{msg}}</span>
    <!-- <input type="submit" value="view invoice" (click)="view()"><br><br>
    <input type="submit" value="create invoice" (click)="create()"><br><br>
    <input type="submit" value="update invoice" (click)="update()"><br><br>
    {{msg}}<br><br>
    <input type="submit" value="logout" (click)="logout()"><br><br> -->
</body>
</html>
